<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
					  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
	<title>Andrew's Travel - <%=@city.name%></title>
	<%= stylesheet_link_tag "travel", :media => "all" %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag "travel/travelHelper" %>
	
</head>
<body>

<% if @listings != nil and @listings.length > 0%>
	<table style="margin-top: 20px;" width="90%" align="center">
		<tr><th colspan="2">Listings in <%="#{@city.name}"%></th></tr>
		
		<%= render :partial => "listing/listing", :collection => @listings%>
		
	</table>
<% end%>

</body>
</html>
